{% block preview %}
    <div class="overlay">
        <div class="col-sm-6 col-md-4 preview" data-table="">
            <span id="close-btn" class="close-btn">X</span>
            <div class="thumbnail">
                <img src="" alt="" id="image">
                <div class="caption">
                    <p><b>Имя: </b><span  class="preview_name prev"></span></p>
                    <p><b>Email: </b><span class="preview_email prev"></span></p>
                    <p><b>Статус: </b><span class="preview_status prev red"></span></p>

                    <div class="text"><b>Текст: </b><span class="preview_text prev"></span></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}